@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*===========ESTILOS GENERALES==========*/

*{
	margin: 0px;
	padding: 0px;
	font-family:'Roboto', sans-serif;
	font-size: 22px;
	text-decoration: none;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img{
    width: 150px; 
    height: 150px;
}

img{
    margin: 30px;
    margin-bottom: 50px;
}

/*==========ESTILOS DEL HEADER==========*/
.intro{
    margin: 10px;
    padding: 10px;
    text-align: center;
}


/*=============ESTILOS DEL NAVBAR========*/
nav{
    background: #0082e6;
    height: 85px;
    width: 105;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 23px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
	color: white;
    font-size: 18px ;
    padding: 3px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.active:hover{
    transition: .7s;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f27900+0,ed5600+100 */
background: #f27900; /* Old browsers */
background: -moz-linear-gradient(top,  #f27900 0%, #ed5600 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f27900 0%,#ed5600 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f27900 0%,#ed5600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f27900', endColorstr='#ed5600',GradientType=0 ); /* IE6-9 */
}

/*==========ESTILOS ABOUT ME==============*/

div#body{
    margin: 40px auto;
    width: 600px;
    min-height: 50px;
    background-color:red;
    overflow: hidden;
    border-radius: 5px;
}

div.subapartado{
    width: 600px;
    min-height: 50px;
    background-color: green;
    -webkit-transition: height 0.5s;
}

div.titulo1{
    width: 600px;
    height: 50px;
    background-color: #24c06f;
    overflow: hidden;
    border-bottom: 1px solid #39f58f;
}

p.titulo{
    margin:13px;
    color: white;
    text-align: center;
}

div.info1{
    width: 600px;
    height:0px;
    background-color: #f5f5f5;
    overflow:hidden;
    -webkit-transition: height 0.5s;
}

p.info1{
    margin: 20px;
    text-align: center;
    color: #4f4f44;
}

div.subapartado:hover div.info1{
    height:100px;
}

/*========ESTILOS DEL PORTAFOLIO========*/
.juego1py a:hover{
    background: no-repeat;
}

/*=======ESTILOS DE LAS TECNOLOGÍAS=======*/

.tecno{
    font-size: 50px;
    text-align: center;
}

.lenguajes{}

.zoom {
    margin: 10px;
}

.zoom .javascript{transition: transform .5s;}.javascript:hover{transform: scale(1.5);}
.zoom .python{transition: transform .5s;}.python:hover{transform: scale(1.5);}
.zoom .html{transition: transform .5s;}.html:hover{transform: scale(1.5);}
.zoom .css{transition: transform .5s;}.css:hover{transform: scale(1.5);}
.zoom .bootstrap{transition: transform .5s;}.bootstrap:hover{transform: scale(1.5);}
.zoom .c_plus_plus{transition: transform .5s;}.c_plus_plus:hover{transform: scale(1.5);}
.zoom .cobol{transition: transform .5s;}.cobol:hover{transform: scale(1.5);}
.zoom .unity{transition: transform .5s;}.unity:hover{transform: scale(1.5);}
.zoom .reactjs{transition: transform .5s;}.reactjs:hover{transform: scale(1.5);}
.zoom .vuejs{transition: transform .5s;}.vuejs:hover{transform: scale(1.5);}
.zoom .angular{transition: transform .5s;}.angular:hover{transform: scale(1.5);}
.zoom .cmd{transition: transform .5s;}.cmd:hover{transform: scale(1.5);}
.zoom .sublime_text{transition: transform .5s;}.sublime_text:hover{transform: scale(1.5);}
.zoom .ruby{transition: transform .5s;}.ruby:hover{transform: scale(1.5);}
.zoom .ingles{transition: transform .5s;}.ingles:hover{transform: scale(1.5);}

/*=======ESTILOS DE LA EXPERIENCIA========*/

/*===========FORMULARIO============ */

.form_wrap{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #4091EC;
    opacity: 0.9;
}

.cantact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../fondo.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title{
    margin-bottom: 60px;
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="submit"]{
    width: 180px;
	background: #4091EC;
	padding: 10px;
	border: none;
	border-radius: 25px;

    align-self: flex-end;

    color: #fff;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
    background: #3371B6;
}

input{
    font-family: 'Roboto', sans-serif;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
	font-size: 20px;
	font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #C5C5C5;
	margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;

	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;

	float: right;
}

/*Ventana de formlario enviado exitosamente*/
.mensaje-exito{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje-exito h1{
    font-size: 40px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.mensaje-exito a{
    display: block;
    padding: 10px 30px;
    background: #4091EC;
    text-decoration: none;
    color: #fff;
}

/*Estilos del footer*/
.iconos{
    width: 50px;
    height: 50px;
    margin: 0 5px;
}

.linkedin{
    width: 50px;
    height: 50px;
    margin: 0 5px;
}
.github{
    width: 50px;
    height: 50px;
    margin: 0 5px;
}


